################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/obj/Debug
/Calculator/bin/Debug
/.vs/Calculator/v14
